<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book</title>
</head>
<body>

    <em>Titre du livre</em> : {{ book.Title }}
    <br>
    <em>Son style</em> : {{ book.Style }}
    <br>
    <em>Le nombre de pages</em> : {{ book.nbPages }}
    <br>
    <em>Livre en stock</em> : {{ book.inStock }}
    <br>
    <a href="{{ path ('book', {"id" : book.id}) }}"><input type="button" value="En voir plus"></a>
    <br>
    <br>

</body>
</html>